/* main part of the html */
.main {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.selectDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5 0px;
}

.examCourseDiv select {
  width: 120px;
  padding: 2px;
  border-radius: 5px;
}

.examCourseDiv hr {
  background-color: #171717;
  width: 100%;
  height: 2px;
  margin-top: 15px;
}

.examReportDiv {
  display: block;
  width: 100%;
  padding: 15px;
}

p.subheading {
  font-weight: 600;
  font-size: 17px;
  color: var(--title-text);
}

.information {
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.examHeading {
  font-weight: 600;
  margin-bottom: 5px;
}

.examDetailsAVG p,
.examDetailsAll p {
  text-align: center;
  border: 1px solid #171717;
  padding: 5px;
}

.examDetailsAVG,
.examDetailsAll {
  display: grid;
  width: 100%;
}

.examDetailsAVG {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.examDetailsAll {
  grid-template-columns: 3fr 2fr 3fr;
}
