.page {
  --background: #dddddd;
  --foreground: #fff;

  --exam-div-background: #f2f2f2; 
  --exam-text: #7B1113;
  --exam-text-hover: #9d0f11;

  --text-main-menu: #ffffff;
  --text-primary: #171717;

  --button-text: #656565;
  --button-hover: #bebebe;

  --button-secondary: #7B1113;
  --button-secondary-text: #ffffff;
  --button-secondary-hover: #581718;

  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
}

/* main part of the html */
.main {
  width: 100%;
  min-height: 90vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
}

.examDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 5px;
  padding: 20px;
  background-color: var(--exam-div-background);
  border-radius: 10px;
  cursor: pointer;
}

.examDiv p.title {
  font-size: 22px;
  font-weight: 600;
  text-wrap: balance;
  color: var(--exam-text);
}

.examDiv p.description {
  font-size: 17px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.information p,
.information a {
  display: inline;
  font-size: 12px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  gap: 16px;
  font-size: 18px;
}

.enrollCourse {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  height: 50px;
  width: fit-content;
  padding: 0 34px;
  font-weight: 500;
  font-size: 30px;
  background: var(--exam-div-background);
  color: var(--button-text);
  gap: 8px;
}

.filter {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 75%;
  background-color: #171717;
}

.overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--exam-div-background);
  padding: 25px;
  gap: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

p.overlayTitle {
  font-weight: 600;
  font-size: 18px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

input.courseCode {
  line-height: 25px;
  padding-left: 5px;
  width: 200px;
}

.overlay button {
  border: none;
  cursor: pointer;
}

button.submit {
  background: var(--button-secondary);
  color: var(--button-secondary-text);
  padding: 7px 34px;
  border-radius: 8px;
  font-weight: 600;
  gap: 8px;
}

button.exitOverlay {
  position: absolute;
  top: 5px;
  right: 10px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .enrollCourse:hover {
    background: var(--button-hover);
    border-color: transparent;
  }

  p.title:hover {
    color: var(--exam-text-hover);
  }

  button.submit:hover {
    background-color: var(--button-secondary-hover);
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .examDiv {
    gap: 16px;
  }

  .examDiv h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #242424;

    --exam-div-background: #171717;
    --exam-text: #f2f2f2;
    --text-main-menu: #ffffff;

    --text-primary: #f2f2f2;

    --button-primary: #7B1113;
    --button-text: #f2f2f2;

    --button-primary-hover: #581718;
  }
}
