.page {
  --background: #f2f2f2;
  --inner-background: #ffffff;

  --text-primary: #171717;
  --text-secondary: #ffffff;

  --button-background: #7B1113;
  --button-text: #f2f2f2;

  --button-background-hover: #581718;

  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  background-image: url("/images/background.jpg");
  background-size: cover;
}

/* main part of the html */
.main {
  width: 100%;
  min-height: 90vh;
  max-width: 100%;
  gap: 40px;
  padding: 60px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: var(--inner-background);
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.login p.title {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  text-wrap: balance;
  color: var(--text-primary);
  margin: 10px 0px;
}

.login hr {
  background-color: var(--text-primary);
  width: 100%;
  height: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px 0px;
}

.container div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 30px;
}

.container label {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  text-wrap: balance;
  color: var(--text-primary);
}

.container input {
  line-height: 25px;
  padding-left: 5px;
}

button.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 34px;
  margin: 0px 0px 10px;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  color: var(--button-text);
  background-color: var(--button-background);
}

a.link {
  font-style: italic;
  font-size: 12px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  button.primary:hover {
    background: var(--button-background-hover);
    border-color: transparent;
  }

  a.link:hover {
    color: var(--button-background);
  }
}

/* gonna fix this later lol -Nikka */
@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
