/*nav part of the html*/
.nav {
    --background: #f2f2f2;
    --button: #000000;
    --button-hover: #7B1113;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    background-color:var(--background);
    font-size: 20px;
}

.logo {
    margin-left: 10px;
    cursor: pointer;
}

.navButtons{
    display: flex;
    gap: 24px;
    margin: auto;
    margin-right: 10px;
}

.navButtons a {
    color: var(--button);
    cursor: pointer;
}

.navButtons a:hover {
    color: var(--button-hover) ;
    cursor: pointer;
}
