.container {
    display: grid;
    gap: 15px;
    padding: 15px 0px;
}

.container div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
}

.container label {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    text-wrap: balance;
    color: var(--text-primary);
}

.container input {
    line-height: 25px;
    padding-left: 5px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

/* gonna fix this later lol -Nikka */
@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }
    
    .intro {
        gap: 16px;
    }
}
