.notifDropdown {
  position: absolute;
  top: 35px;
  right: 0;
  width: 260px;
  background: gray;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  padding: 12px;
  z-index: 200;
}

.notifHeader {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}

.notifItem {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
}

.notifItem:last-child {
  border-bottom: none;
}
