.main {
   flex-direction: column;
}

.rowDiv {
   display: flex;
   gap: 20px;
   width: 100%;
   height: 20px;
   margin: 15px 0px;
   align-items: center;

   label {
      display: flex;
      gap: 10px;
   }

   input, select {
      padding: 2px 5px;
   }
}

.options {
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.examTitle {
   flex: 1;
}
